.container {
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.table,
.row,
.col,
.head,
.body {
    box-sizing: border-box;
    display: flex;
}

.table,
.body {
    height: auto;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.table {
    width: 100%;
}

.body {
    width: 100%;
}

.row,
.head {
    width: 100%;
    height: auto;

    flex-direction: row;
    gap: 0.5rem;
}

.head {
    margin-bottom: 0.5rem;
}

.col {
    flex: 1;
    flex-direction: column;

    padding: 0.5rem;

    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.5px;
}

.head .col {
    font-weight: bold;

    background-color: var(--color-main);
    color: var(--color-accent);
}

.body .col {
    background-color: var(--color-accent);
}