@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-main: rgb(220, 20, 60);
    --color-alt: rgb(115, 18, 38);
    --color-accent: rgb(245, 245, 245);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-text: rgb(0, 0, 0);
        --color-background: rgb(255, 255, 255);

        --page-background-color: var(--color-background) !important;

        --progress-bar-background-color: rgba(220, 20, 60, 0.08) !important;
        --progress-bar-color: var(--color-main) !important;
        --progress-bar-secondary-color: rgba(220, 20, 60, 0.08) !important;

        --toolbar-button-color: var(--color-alt) !important;
        
        --color-button-background: var(--color-main);
        --color-input-background: rgba(220, 20, 60, 0.075);
        --color-input-text: #000;

        --color-table-background: var(--color-accent);
        --color-table-column-background: var(--color-main);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: #ffffff;
        --color-background: #202020;

        --page-background-color: var(--color-background) !important;

        --progress-bar-background-color: rgba(220, 20, 60, 0.08) !important;
        --progress-bar-color: var(--color-main) !important;
        --progress-bar-secondary-color: rgba(220, 20, 60, 0.08) !important;

        --toolbar-button-color: var(--color-alt) !important;

        --color-button-background: var(--color-alt);
        --color-input-background: rgba(220, 20, 60, 0.075);
        --color-input-text: var(--color-accent);

        --color-table-background: #333333;
        --color-table-column-background: var(--color-alt);
    }
}